body {background: #F2F2F2; color: #323232; text-align:center; font: 12px/26px Verdana,Geneva,sans-serif,"ËÎÌå"; margin: 0px auto 0px; padding: 0px;}
#wrap {background: #F2F2F2; width: 960px; text-align:left; margin: 0px auto 0px; padding: 0px;}
img{ border:none;}



/*Í·²¿¿Õ°×*/
#headtop{background: #F2F2F2;height:15px;width: 960px;text-align:right;margin:5px 5px 10px auto}

/* head logo+info+searchform */
#header{border: 1px solid #dadada;border-radius: 5px;box-shadow: 0 2px 6px #eeeeee;font-family: "Î¢ÈíÑÅºÚ";background: #fff;}
#head{overflow: hidden;clear: both;margin: 0 1.5em;border-bottom: 3px solid #a71e32;}
#head #logo {float: left;width: 175px;height: 49px;display: inline;margin: 23px 0 0px 0;padding-bottom: 19px;}
#head #logo a{background: url("images/logo.png") no-repeat;display: block;width: 175px;height: 49px;color: #535353;text-decoration: none;}
#head #headinfo{float: right;height: 29px;margin-top: 46px;font-size: 15px;width: 565px;margin-right: 15px;}
#header h3 {background-position: 0 4px;float: left;line-height: 29px;margin: 0px;color: #535353;}
#headsearch{width: 200px;height: 29px;border: 1px solid #dadada;border-radius: 3px;float: right;}
#headsearch input{border: 0;height:28px;width:195px;padding:0 0 0 5px;float: left;}
#headsearch button{border: 0;cursor: pointer;padding: 0;margin: 0;}

/*head nav*/
#nav {height: 48px;position: relative;z-index: 10;line-height: 30px;font-size: 16px;color: #000;clear: both;}
#nav .bar {list-style: none;}
#nav .bar .item {float: left;display: inline;width: 12.5%;text-align: center;position: relative;}
#nav a:link {color:#1F1F1F; text-decoration:none;}
#nav a:active {color:#1F1F1F; text-decoration:none;}
#nav a:visited {color:#1F1F1F; text-decoration:none;}
#nav a:hover {color:#a71e32; text-decoration:none;}
#nav .current a{color:#a71e32;}
#nav .item:hover .sub-nav, 
#nav .li-hover .sub-nav { display: block;}
#nav .sub-nav {display: none;position: absolute;background-color: #fff;margin: 0px; padding: 0px;list-style: none;border: 0px solid #eee;top: 30px;left: 10px;border-radius: 5px;}
#nav .sub-nav li {min-width: 100px;white-space: nowrap;}
#nav .sub-nav a {display: block;padding: 0 18px;}
* html #nav .sub-nav a {display:inline;zoom:1;width: 100px;}
#nav .sub-nav a:hover {background-color: #EEE;color:#FF6633;}

/*banner */
.banner{margin-top: 15px;position: relative;width: 99.8%;height: 300px;z-index: 0;}
#babox{background: #fff;border: 1px solid #dadada;border-radius: 6px;box-shadow: 0 2px 6px #e5e5e5;margin: 10px 0;overflow: hidden;}
#baimg{overflow: hidden;width: 100%;height: 210px}
#sort{border-top: 1px solid #dadada;font-family: "Î¢ÈíÑÅºÚ";}
#sort span{display: block;float: left;width: 18.7%;border-right: 1px solid #dadada;height: 70px;text-align: center;padding-top: 20px;position: relative;z-index: 10;color: #898989;font-size: 13px;cursor: pointer;}
#sort span a:hover{color: #000;}
#aboutme{width:24.7%;padding-top:10px;float:right;}
#attend{color: #d28f1e;padding: 7px 7px 7px 17px;}
#attend a{background: url("images/top/aboutme.png") no-repeat;width: 26px;height: 26px;display: inline-block;margin-left: 12px;margin-bottom: -6px;}
#attend .sina{background-position: 0 -328px;}
#attend .wx{background-position:0 -374px;}
#abtext{margin: 0 20px;font-family: arial;color: #898989;border-top:1px dashed ;text-align:center;}

/*ÎÄÕÂÃæ°üÐ¼µ¼º½*/
#headmap{font-family: "ËÎÌå";padding: 2px 20px 0;}
#headmap span{color: #cccccc;}
#headmap a{color: #535353;text-decoration: none;}
#headmap a:hover{color:#a71e32;}

/*¹ö¶¯³÷´°and¹«¸æ*/
.msg1{overflow: hidden;border-right: 1px solid #dadada;width: 277px;}
.msg1,.msg2{float: left;padding: 20px;}
.msg2_title{font: 20px "Î¢ÈíÑÅºÚ";color: #000;padding:0 0 0 20px;margin-bottom:10px;}
.tabs{position: relative;}
.tabnav{position: absolute;left: 0;top: -13px;margin-left: 0;}
.tabnav li{list-style:none;border-radius: 2px 2px 0 0;float: left;text-align: center;font: 20px "Î¢ÈíÑÅºÚ";margin: 0 4px -1px 0;padding-right:10px;}
#chuchuang {width: 600px;position: relative;height: 135px;overflow: hidden;background: #FFF;overflow:hidden;}
#chuchuang img {border: 3px solid #F2F2F2;}
#inchuchuang {float: left;width: 800%;}
#chuchuang1 {float: left;}
#chuchuang2 {float: left;}

/*¹«¸æÖÃ¶¥ÎÄÕÂ*/
#tabnavzd{padding-top:25px;white-space: nowrap;overflow:hidden;}
#tabnavzd a{color:#1F1F1F;text-decoration:none;}
#tabnavzd a:hover{color:#a71e32; text-decoration:none;}

/*Ê×Ò³ÄÚÈÝ*/
#content {width: 960px; margin: 0px auto 0px; padding: 0px;}
#content p {padding: 0px 0px 15px 0px; margin: 0px; line-height: 20px;}
#content h1 {display:none;}
#content h2 {color: #1F1F1F; font-size: 18px; font-weight:bold; padding: 0px 0px 0px 0px; margin: 25px 0px 10px 0px;}
#content h2 a:link {color:#1F1F1F; text-decoration:none;}
#content h2 a:active {color:#1F1F1F; text-decoration:none;}
#content h2 a:visited {color:#1F1F1F; text-decoration:none;}
#content h2 a:hover {color:#1F1F1F; text-decoration:underline;}
#content h2.widgettitle {color: #444444; font-size: 12px; font-weight: bold; margin: 25px 0px 0px 0px; padding: 10px 0px 10px 0px;}
#content h3 {color: #444444; font-size: 14px; font-weight: bold; margin: 15px 0px 0px 0px; padding: 8px 0px 8px 0px;}

/*ÎÄÕÂÊä³öÒ³Ãæ*/
#contenttext{background: #fff;border: 1px solid #dadada;border-radius: 6px;box-shadow: 0 2px 6px #e5e5e5;margin: 10px 0;padding:0 20px 10px 20px;overflow: hidden;}
#contenttext h2{line-height: 38px;font: 20px  "Î¢ÈíÑÅºÚ";font-weight:bold;color: #000;text-align:center;}
#contenttext .date { font-size:12px;text-align:center;}
#function{margin-top: 14px;margin-bottom: 30px;border-bottom: 1px solid #dadada;height: 30px;text-align: right;position: relative;float: left;width: 100%;}
.print{display: inline-block;border: 1px solid #dadada;border-radius: 2px;color: #000;line-height: 28px;padding: 0 10px;margin-right:10px;border-bottom: 0;font-size: 12px;}

/*Ê×Ò³·ÖÀà*/

.allsort{margin-top: 15px;position: relative;width: 99.8%;height: 350px;z-index: 0;background: #fff;border: 1px solid #dadada;border-radius: 6px;}
#mbox {float: left;height: 340px;width: 430px;margin: 10px 10px 10px 30px;}
#mbox a{color:#1F1F1F;text-decoration:none;}
#mbox a:hover{color:#a71e32; text-decoration:none;}
#mbox span {color: #ABA9A2;float: right;}
#mbox span a {color: #596F37;text-decoration: none;}
#mbox span a:hover {color: #a71e32;text-decoration: none;}
.boxt{border-bottom:1px solid #ABA9A2;}
.boxt strong{font-size:16px;margin-left:12px;}
.box ul{list-style:none;}
.box ul li{margin-left:-20px;}
.boxt ul li a{white-space: nowrap;overflow:hidden;}
.allsort_main{margin:20px 0px 10px 35px;}
.wz_title{font-size:16px;border-bottom:1px dashed #ABA9A2;padding-top:8px;}
.wz_title a{color:#1F1F1F;text-decoration:none;}
.wz_title a:hover{color:#a71e32; text-decoration:none;}
.wz_title span{float:right;margin-right:30px;font-size:10px;}

/*·­Ò³*/
.navigation{margin:9px 0 5px 0;font-size:12px;float:right;text-align:right;}
.pagination {line-height:24px;}
.inactive {height:22px; width:22px;}
.pagination span, .pagination a {width:22px;text-align:center;height:22px;line-height:24px;margin:0px 2px 0px 2px;display:inline-block;text-decoration:none;border:1px #e0e0e0 solid;}
.pagination span{height:22px; width:22px;color:#333;border:1px #bcbcbc solid;font-weight:bold;background:#f0f0f0;}
.pagination a{height:22px; width:22px;color:#333;border:1px #bcbcbc solid;text-decoration: none;}
.pagination a:hover {height:22px; width:22px;color:#a71e32;border:1px #bcbcbc solid;text-decoration: none;}
.pagination .page_previous, .pagination .prev{width:50px;height:22px;text-align:center;}
.pagination .page_previous:hover, .pagination .prev:hover{width:50px;height:22px;text-align:center;}
.pagination .page_next, .pagination .next, .pagination .page_next:hover, .pagination .next:hover{width:50px;height:22px;text-align:center;}
.pagination .fir_las, .pagination .fir_las:hover{width:30px;height:22px;text-align:center;}

img.alignright {float:right; border:none; margin:0px 0px 10px 10px;}
img.alignleft {float:left; border:none; margin:0px 10px 10px 0px;}
img.aligncenter {display: block; border:none; margin:10px auto 10px auto;}
a img.alignright {float:right; border:none; margin:0px 0px 10px 10px;}
a img.alignleft {float:left; border:none; margin:0px 10px 10px 0px;}
a img.aligncenter {display: block; border:none; margin:10px auto 10px auto;}

.attachment{
    margin: 0px 3px;
    padding: 0px 0px 0px 20px;
    font-weight: bold;
    background:url(images/att.png)  no-repeat 2px -1px;
}

#twitter li {border-bottom: dotted #CCCCCC 1px;list-style:none;}
#twitter li p {font-size: 10px;padding-left: 68px; text-align:right; padding:5px 0px 2px;}
#twitter p {font-size: 12px;text-align:right;}
#twitter li small {font-size: 10px;padding: 0px 10px;}
#twitter li .t_img{background:url(images/img.gif) no-repeat;padding: 0 7px;margin: 0 0 0 10px;}

#tw .main_img{ border:1px #2772ae solid; float:left;}
#tw .main_img img{ border:1px #fff solid}
#tw .op{ float:left; height:18px;margin:6px 5px 3px;}
#tw ul{ margin:5px 0px 3px 25px; width:520px; line-height:1.8;padding:0px;}
#tw ul .li{ margin:10px 0px;padding:5px 0px;border-bottom: #F7F7F7 1px solid;}
#tw ul li{margin:0px 0px; padding:0;}
#tw ul li .main_img{ margin-top:5px;}
#tw ul li .post1{ float:left;font-size:13px; padding:0px;margin:0; width:470px; padding:0px 0px 0px 8px;}
#tw ul li .post1 span{color:#886353; font-weight:bold;}
#tw ul li{ clear:both; padding:0px; margin:0px;}
#tw ul li .bttome {margin:3px 0;vertical-align:middle}
#tw ul li .bttome .time{ float:left;line-height:14px;margin:0;}
#tw ul li .bttome .post{ float: right;font-size:12px;line-height:14px;margin:0;}
#tw .time{ font-size:12px; color:#999999; padding-left:43px}
#tw ul .r{ margin:5px 0px 0px 40px;color:#666666; border:0; padding:0px;}
#tw ul .r li{padding:5px 3px 3px;border-bottom: #F7F7F7 1px solid; width:475px}
#tw ul .r .num{ font-size:16px; font-weight:bold; color:#0079b7;padding:0px 5px; float:left; width:20px;}
#tw ul .r .time{ padding:0px 5px;}
#tw ul .r .name{ padding:0px 0px 0px 0px; font-size:12px; color:#336699;}
#tw ul .r em a{ font-style:normal;}
#tw ul .huifu{margin:5px 0px 0px 43px; background:#F5F5F5;border:#CCCCCC solid 1px;text-align:center;display:none;}
#tw ul .huifu textarea{ margin:5px; width:460px; border:#CCCCCC solid 1px;overflow:auto;}
#tw ul .huifu input{ margin:0px 5px;}
#tw ul .huifu div{ text-align:left; padding:0px 5px; text-align:center}
#tw ul .huifu .text{ width:60px;}
#tw ul .button_p{background:url(images/weibe_button.gif) no-repeat; border:0;cursor:pointer; _cursor:hand; width:63px; height:25px;}
#tw .tbutton{ font-size:12px;float:none; margin-bottom:3px;}
#tw .tbutton input{ width:90px; border:#CCCCCC solid 1px; }
#tw .tbutton .button_p{ background:url(images/weibe_button.gif) no-repeat; border:0;cursor:pointer; _cursor:hand; width:60px; height:25px;}
#tw .tbutton .tinfo{ float:left; }
#tw .msg{ clear:both}
#tw li{list-style:none;}
#tw ul .huifu textarea{background-color:#FFFFFF;}
#tw ul .huifu input{background-color:#FFFFFF;}
#tw ul li ul{ line-height:0;font-size:0;}
#tw ul li ul li{ font-size:12px; line-height:22px;}
#tw .top{width:650px;}
#tw ul li .post1{ width:560px;}
#tw ul{ width:610px;}
#tw ul .r li{width:565px}
#tw ul .huifu textarea{width:550px;}
#tw ul li .bttome .post{ font-size:12px;line-height:14px;margin:0; text-align:right; float:none;clear:both; width:610px; background:0; border:0;}
#tw ul li .bttome .time{ float:none; margin-top:-25px;}
#tw p .t_img{background:url(images/img.gif) no-repeat;padding: 0 7px;margin: 0 0 0 10px;}

/*ÓÑÁ´*/
#listlink{height:30px;width:100%;margin:20px 0px 0px 0px;padding-top:10px;list-style:none;border: 1px solid #dadada;border-radius: 5px;box-shadow: 0 2px 6px #eeeeee;background: #fff;}
#listlink ul li{float:left; line-height:15px;overflow:hidden;font-family: "Î¢ÈíÑÅºÚ";font-size: 12px;padding-left: 26px;}
#listlink a{color: #535353;text-decoration: none;}
#listlink a:hover{color:#a71e32;}
.fixed{margin:0px ; padding:0px;}

/*µ×²¿*/
#footerbar {margin: 0;padding: 0;border: 0;outline: 0;background: transparent;}
#footercopy{border-top: 2px solid #999999;line-height: 22px;padding: 14px 20px 43px;font-size: 12px;overflow: hidden;}
#footerarea{background: url("images/logo1.png") no-repeat right 8px;color: #535353;margin-right: 7px;font-size: 12px;}
#footerarea a{color: #535353;font-size: 12px;text-decoration: none;}
